

<nav class="navbar navbar-inverse" style="background:purple">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Chat_App</a>
    </div>
    <ul class="nav navbar-nav">
      
     
      <li> <a routerLink="">
        <i class="fa fa-welcom">Register</i>
    </a></li>

    

      <li ><a routerLink="home">
        <i class="fa fa-login">Login</i>
      </a></li>

      
      <li ><a routerLink="message">
        <i class="fa fa-login">message</i>
      </a></li>


      <li ><a routerLink="">
        <i class="fa fa-logout">Logout</i>
        <!-- <button class="btn btn-success btn-small">Logout</button> -->

      </a></li>


    </ul>
   
  </div>
</nav>
  




